html {
	font-size: 16px;
}

body {
	color: whitesmoke;
	background-color: green;
}

body,
button,
input {
	font-size: 0.8rem;
	/* Default Font - Open Sans Light */
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.container {
	/* Cell Design */
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1250px;
	margin: 0 auto;
	padding: 0;
}

.site-header {
	/* Cell Alignment and Design */
	align-content: center;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	height: 100%;
	padding: 2rem;
}

.logo {
	display: block;
	min-width: 25%;
}

.site-form {
	display: block;
	width: 50%;
	align-self: center;
	text-align: center;
	padding: 1rem;
}

.site-form input {
	background-color: transparent;
	color: whitesmoke;
	width: 100%;
}

.site-form input,
.site-form select {
	font-size: 1rem;
	font-size: 1rem;
}

.site-form-content {
	text-align: center;
	flex-flow: column wrap;
	display: flex;
	width: 100%;
}

.site-footer {
	/* Cell Design */
	margin-bottom: 3rem;
	padding: 1rem;
	/* Text Alignment, Color and Size */
	color: #c2c2c2;
	font-size: 1rem;
	text-align: center;
}

/* Change at 600px for Tablet Version and 1250px for Full screen */
/* @media (min-width: 600px) {
	body,
	button,
	input {
	}
} */

/* @media (min-width: 1250px) {
	body,
	button,
	input {
	}
} */

/* @media (min-width: 600px) {
	.site-footer {
	}
} */

/* @media (min-width: 1250px) {
	.site-footer {
	}
} */
