/* Default Design */
/* Section 1 - Site Header Design */
.site-header {
    // Cell Alignment and Design
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
    padding: $division-padding * 2;
    // align-self: center;
}

.logo-container {
    margin: 0 auto;

    .logo {
        display: block;
        min-width: 25%;
    }
}

.site-form {
    display: block;
    width: 75%;
    align-self: center;
    text-align: center;
    padding: $division-padding;

    input {
        background-color: transparent;
        width: 100%;
    }
}

.site-form input,
.site-form select {
    font-size: 1rem;
    font-size: 1rem;

}

.site-form-content {
    text-align: center;
    flex-flow: column wrap;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

/* Section 2A - Loading Bar Design */
.loading {
    display: flex;
    justify-content: center;
    // max-height: 50%;
    // max-width: 10%;
    // min-height: 30%;
    // min-width: 5%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.loading-gif {
    width: 15%;
    height: 15%;
    display: none;
}

/* Section 2B - Main Content Design */
.main-content {

    // display: none;

    .stories {
        min-height: 5rem;
        flex: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        margin: 0 auto;
        width: 100%;

        .newStory {
            height: 400px;
            color: $text-color-story;
            position: relative;
        }

        .article-title {
            color: aqua;
        }

        p {
            color: red;
        }


        @include tablet {
            grid-template-columns: repeat(2, 1fr)
        }

        @include desktop {
            grid-template-columns: repeat(4, 1fr)
        }
    }
}




// .article-abstract {}

/* Section 3 - Site Footer Design */

.site-footer {
    // Cell Alignment and Design
    margin: 0.5rem;
    padding: $division-padding;
    // align-self: center;
    // vertical-align: bottom;
    // align-items: flex-end;
    // Text Alignment, Color and Size
    color: $text-color-ft;
    font-size: 1rem;
    text-align: center;

    .copyright {
        display: flex;
        flex-flow: column wrap;

        @include tablet {
            flex-flow: row wrap;
        }

        @include desktop {
            grid-template-columns: repeat(4, 1fr)
        }

    }
}


.red-footer {
    margin-top: 1.5rem;

    &:hover {
        text-transform: uppercase;
    }

    @include tablet {
        display: none;
    }

    @include desktop {
        display: none;
    }
}