/* Default Design */
html {
    font-size: $default-font-size;
}

body {
    color: $text-color-main;
    background-color: $back-color;
}

body,
button,
input {
    /* Default Font - Open Sans Light */
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container {
    /* Cell Design */
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 320px;
    max-width: 1250px;
    // margin: 0;
    padding: 0;
}

/* Section 1 - Site Header Design */
.site-header {
    // Cell Alignment and Design
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
    padding: $division-padding * 2;
}

.logo-container {
    margin: 0 auto;

    .logo {
        display: block;
        min-width: 25%;
    }
}



.site-form {
    display: block;
    width: 75%;
    align-self: center;
    text-align: center;
    padding: $division-padding;
}

.site-form input {
    background-color: transparent;
    width: 100%;
}

.site-form input,
.site-form select {
    font-size: 1rem;
    font-size: 1rem;
}

.site-form-content {
    text-align: center;
    flex-flow: column wrap;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

/* Section 2A - Loading Bar Design */
.loading {
    display: flex;
    justify-content: center;
    max-height: 10%;
    max-width: 10%;
    min-height: 5%;
    min-width: 5%;
    margin: 0 auto;
}

.loading-gif {
    width: 50%;
    display: none;
}

/* Section 2B - Main Content Design */
.stories {
    min-height: 5rem;
    flex: 100%;

    // display: grid;
    // grid-template-columns: 1 fr;

    a {
        height: 100%;
        color: $text-color-story;
    }
}

.newStory {
    height: 500px;
    // width: 25%;
    color: $text-color-story;
}

// .article-abstract {}

/* Section 3 - Site Footer Design */

.site-footer {
    // Cell Alignment and Design
    margin: 1rem;
    padding: $division-padding;
    align-self: center;
    // vertical-align: bottom;
    align-items: flex-end;
    // Text Alignment, Color and Size
    color: $text-color-ft;
    font-size: 1rem;
    text-align: center;
}

// .site-footer  {
//     margin: 0.5rem;

//     &:hover {
//         text-transform: uppercase;
//     }
// }

.red-footer {
    margin-top: 1.5rem;
}

/* Change at 600px for Tablet Version and 1250px for Full screen */
/* @media (min-width: 600px) {
	
} */

/* @media (min-width: 1250px) {
	body,
	button,
	input {
	}
} */

/* @media (min-width: 600px) {
	.site-footer {
	}
} */

/* @media (min-width: 1250px) {
	.site-footer {
	}
} */