$default-font-size: 16px;

/* Text color */
$text-color-main: #ffffff;
$text-color-story: #ffffff;
$text-color-ft: #c2c2c2;

/* Background Color */
$back-color: #000;

/* Cell Design */
$division-padding: 1rem;

/* Breakpoints */
$desktop-width: 1000px;
$tablet-width: 600px;
$mobile-width: 450px;